*{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 1100px;
    height: 30px;
    background-color: white;
    padding: 15px; 
    display: block;
}
#leftHeader{
    width: 500px;
    display: inline-block;
    text-align: left;
    margin: 10px;
    padding-left: 10px;
    font-weight: 700;
}
#rightHeader{
    width: 500px;
    display: inline-block;
    text-align: right;
    margin: 10px;
    padding-right: 40px;
    vertical-align: top;
}
#topMain{
    width: 1100px;
    height: 300px;
    background-color: rgb(111,89,100);
    padding: 10px; 
    display: block;
}
#leftTopMain{
    width: 500px;
    height: 300px;
    background-color: rgb(234,235,233);
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
#rightTopMain{
    width: 550px;
    height: 300px;
    background-color: rgb(234,235,233);
    display: inline-block;
    margin: 10px;
}
#bottomMain{
    width: 1100px;
    height: 700px;
    background-color: rgb(111,89,100); 
    /* background-color: green;  */
    padding: 10px;  
    display: block;
}
.subBottomMain{
    width: 342px;
    height: 680px; 
    background-color: rgb(234,235,233);
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
#footer{
    width: 1100px;
    height: 30px;
    background-color: white;
    padding: 15px; 
    display: block;
    text-align: center;
}
#myImage{
    width: 494px;
    height: 294px;
    border: 3px solid rgb(192,192,192);
}
#rightTopMainHeader{
    width: 530px;
    height: 30px;
    background-color: rgb(162,162,169);
    color: white;
    padding: 10px; 
    display: block; 

}
.rightTopMainParag{
    width: 530px;
    height: 70px;
    display: block; 
    text-align: left;
    padding: 10px;  
    font-size: 140%;
}
.subHeader{
    width: 322px;
    height: 30px;
    background-color: rgb(162,162,169);
    color: white;
    padding: 10px; 
    display: block; 

}
.subImage{
    width: 342px;
    height: 150px;
    display: block; 
}
.subParag{
    width: 322px;
    height: 170px;
    display: block; 
    text-align: justify;
    padding: 10px;  
    font-size: 120%;
}
.technologies{
    width: 322px;
    height: 150px;
    display: block; 
    padding: 15px;  
}
.subTechImage{
    width: 50px;
    height: 50px;
    display: inline; 
    margin: 5px;
}
.subLogo{
    width: 100px;
    height: 30px;
    display: block;  
    background-color: rgb(64,135,97);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 5px;
}
.footerImage{
    width: 20px;
    height: 20px;
    display: inline; 
    vertical-align: bottom;
    padding-top: 10px;
}
#footer a {
    color: black;
    font-size: 125%;
    display: inline; 
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 5px;
}
#rightTopMain a {
    color: black;
    font-size: 140%;
    display: block; 
    padding-top: 20px;
    padding-left: 10px;
}